



.change_plan i{ font-size:40px;}

.myown_btns i{ margin-right:5px; font-size:14; vertical-align:baseline;}
.myown_btns a {
    padding: 10px 20px;
    font-size: 14px!important;
}




.sms_provide{ max-width:700px; padding:20px; box-shadow:0px 0px 2px #ccc; }

.sms_provide .from-group {
margin-bottom: 20px;
}

.sms_provide p {
font-size: 14px;
text-transform: capitalize;
}

.sms_provide p b{ margin-right:10px;}


.m-menu__item  a.m-menu__link i {
    margin-right: 8px;
}

.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper {
    width: 380px;
    margin-left: -288px;
}


.dashboard_list figure {
    padding: 20px;
    box-shadow: 0px 0px 7px 1px rgba(204, 204, 204, 0.27058823529411763);
    margin-bottom: 20px;
    overflow: hidden;
    text-transform: uppercase;
    transition: 0.3s;
}

.dashboard_list figure:hover{  transition: 0.3s;  box-shadow: 0px 0px 7px 3px rgba(204, 204, 204, 0.4);
    margin-bottom: 20px; }


.dashboard_list i{ float: left; font-size: 40px; }

.dashboard_list b{ float: right; font-size: 20px; }

.dashboard_list a{ display: block; clear: both;  float: right;  margin-top: 10px; font-size: 40px; text-decoration: none;}



img.m-brand__logo-desktop {
    width: 152px;
}






